<router-outlet></router-outlet>

<div class="container">
  <div class="background-image">
    <div class="box">
      <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
    </div>
  </div>
  <div class="content">
    <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
    <span class="title">Lo que está pasando ahora</span>
    <span class="subtitle">Únete a Twitter hoy mismo.</span>
    <section>
      <button class="btn btn-light">
        <fa-icon [icon]="['fab', 'google']" size="1x"></fa-icon>
        Registrarse con Google
      </button>
      <button class="btn btn-light">
        <fa-icon [icon]="['fab', 'apple']" size="1x"></fa-icon>
        Registrarse con Apple
      </button>
      <div class="divisor">
        <div class="line"></div>
        <span>o</span>
        <div class="line"></div>
      </div>
      <button class="btn btn-primary">Regístrate con el número de teléfon...</button>
      <p class="terms">
        Al registrarte, aceptas los <a>Términos de servicio</a>
        y la <a>Política de privacidad,</a> incluida la política
        de <a>Uso de Cookies.</a>
      </p>
      <span>¿Ya tienes una cuenta?</span>
      <button class="btn btn-primary-outline" routerLink="/auth/login">Iniciar sesión</button>
    </section>
  </div>
</div>

<footer>
  <a>Información</a>
  <a>Centro de Ayuda</a>
  <a>Condiciones de Servicio</a>
  <a>Política de Privadida</a>
  <a>Política de Cookies</a>
  <a>Accesibilidad</a>
  <a>Informacion de anuncios</a>
  <a>Blog</a>
  <a>Estado</a>
  <a>Recursos para marcas</a>
  <a>Publicidad</a>
  <a>Marketing</a>
  <a>Twitter para empresas</a>
  <a>Desarrolladores</a>
  <a>Guía</a>
  <a>Configuración</a>
  <span>&copy; 2022 Twitter, Inc.</span>
</footer>