.modal-content .modal-header fa-icon.center {
  font-size: 32px;
  flex-grow: 1;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.modal-content .modal-body {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 350px;
  min-width: 300px;
  gap: 1rem;
}

.modal-content .modal-body span.link {
  margin-top: 1.5rem;
  font-size: 13px;
  color: #71767b;
  text-align: center;
}

.modal-content .modal-body span a {
  margin-top: 1rem;
  color: var(--color-primary);
}
