.container {
  width: 275px;
  height: 100%;
  position: fixed;
}

.container .wrapper {
  padding: 0 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
}

.container .logo {
  border-radius: 50%;
  padding: 0.8rem;
  transition: 0.3s;
}

.container .logo:hover {
  background-color: #1d9cf021;
  cursor: pointer;
}

.wrapper .logo > fa-icon {
  font-size: 16px;
  color: #fff;
  margin: 0.5rem 0;
}

.wrapper ul.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.wrapper ul.navigation li {
  cursor: pointer;
  position: relative;
  list-style: none;
  width: 100%;
}

.wrapper ul.navigation li:hover a.menu,
.profile-wrapper a:hover {
  background: rgb(231, 233, 234, 0.1);
}

.wrapper ul.navigation li fa-icon {
  font-size: 24px;
}

.wrapper ul.navigation li a.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
  font-size: 20px;
  color: #e7e7e7e7;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  transition: 0.3s;
  border-radius: 30px;
  width: fit-content;
}

.profile-wrapper {
  width: 100%;
  padding: 0.2rem;
  display: flex;
  flex-grow: 1;
  align-items: end;
}

.profile-wrapper a {
  display: flex;
  align-items: center;
  border-radius: 40px;
  padding: 0.7rem 1rem;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.profile-wrapper a > figure.box-image {
  width: 3rem;
  height: 3rem;
}

figure.box-image > img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profile-wrapper a .user-info {
  margin-left: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  gap: 2px;
}

.profile-wrapper a .user-info span.name {
  font-weight: 700;
}

.profile-wrapper a .user-info span.username {
  font-weight: 300;
  color: #71767b;
}

.profile-wrapper a fa-icon {
  flex-grow: 1;
  text-align: end;
}
