<div class="container">
  <div class="wrapper">
    <div class="logo">
      <fa-icon [icon]="['fab', 'twitter']" size="2x"></fa-icon>
    </div>
    <ul class="navigation">
      <li class="item">
        <fa-icon [icon]="['fas', 'home']" size="1x"></fa-icon>
        <a>
          Home
        </a>
      </li>
      <li class="item">
        <fa-icon [icon]="['fas', 'hashtag']" size="1x"></fa-icon>
        <a>
          Explorar
        </a>
      </li>
      <li class="item">
        <fa-icon [icon]="['fas', 'bell']" size="1x"></fa-icon>
        <a>
          Notificaciones
        </a>
      </li>
      <li class="item ">
        <fa-icon [icon]="['fas', 'envelope']" size="1x"></fa-icon>
        <a>
          Mensajes
        </a>
      </li>
      <li class="item">
        <fa-icon [icon]="['fas', 'bookmark']" size="1x"></fa-icon>
        <a>
          Guardados
        </a>
      </li>
      <li class="item">
        <fa-icon [icon]="['fas', 'list']" size="1x"></fa-icon>
        <a>
          Listas
        </a>
      </li>
      <li class="item">
        <fa-icon [icon]="['fas', 'user-alt']" size="1x"></fa-icon>
        <a>
          Perfil
        </a>
      </li>
      <li class="item">
        <fa-icon [icon]="['fas', 'ellipsis']" size="1x"></fa-icon>
        <a>
          Más
          opciones
        </a>
      </li>
    </ul>
    <button class="btn btn-primary btn-lg">Twittear</button>
    <div class="profile-wrapper">
      <a>
        <figure class="box-image">
          <img
            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="img-user">
        </figure>
        <div class="user-info">
          <span class="name">user name</span>
          <span class="username">@userName</span>
        </div>
        <fa-icon [icon]="['fas', 'ellipsis']"></fa-icon>
      </a>
    </div>
  </div>
</div>