.main-wrapper {
  display: flex;
}

.wrapper {
  max-width: 575px;
  width: 100%;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.trends {
  max-width: 350px;
  width: 350px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 3.5rem;
  position: fixed;
  width: 573px;
  backdrop-filter: blur(12px);
  z-index: 100;
}

header span {
  font-size: 20px;
  font-weight: 700;
}

.main-content {
  margin-top: 3.5rem;
}

section {
  padding: 12px 16px;
  height: auto;
  display: flex;
  gap: 0.6rem;
  border-bottom: 1px solid #2f3336;
}

figure.box-image {
  min-width: 3.8rem;
  width: 3.8rem;
  height: 3.8rem;
}

figure.box-image > img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.publication .content {
  gap: 0;
}

.content textarea {
  padding: 1rem 0px 0px;
  line-height: 1.8rem;
  height: 64px;
  font-size: 22px;
  resize: none;
  appearance: none;
  color: #fff;
  border: none;
  background: transparent;
  overflow: hidden;
}

.content .drop-container {
  width: fit-content;
  padding: 0.2rem 0.6rem;
  border-radius: 30px;
}

.content .drop-container a.drop {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: var(--color-primary);
  cursor: pointer;
}

.content .drop-container:hover {
  background-color: #1d9cf021;
}

.divisor {
  max-width: 100%;
}

.content .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .options .icons {
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 1rem;
  color: var(--color-primary);
  cursor: pointer;
}

.content .options .icons fa-icon.disabled {
  color: #1d9bf082;
  cursor: default;
}

.content .options button {
  width: 25%;
}

.content .header {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 4px;
}

.content .header span.name {
  font-weight: 700;
}

.content .header span.username,
.content .header span.time,
.content .header span.dot,
.content .header .icon {
  color: #71767b;
}

.content .header .icon {
  cursor: pointer;
  margin: 0 0 0 auto;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .header .icon:hover {
  background: #1d9cf021;
  color: var(--color-primary);
}

.content .body {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
}

.content .footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #71767b;
}

.content .footer .statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.content .footer .statistics .icon {
  padding: 8px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.content .footer .statistics.primary:hover .icon {
  background: #1d9cf021;
}

.content .footer .statistics.success:hover .icon {
  background: rgb(0, 186, 124, 0.1);
}

.content .footer .statistics.danger:hover .icon {
  background: rgb(249, 24, 128, 0.1);
}

.content .footer .statistics.primary:hover,
.content .footer .statistics.primary:hover .icon {
  color: var(--color-primary);
}

.content .footer .statistics.success:hover,
.content .footer .statistics.success:hover .icon {
  color: rgb(0, 186, 124);
}

.content .footer .statistics.danger:hover,
.content .footer .statistics.danger:hover .icon {
  color: rgb(249, 24, 128);
}

.content .body .media {
  min-width: 3.8rem;
  width: auto;
  height: auto;
  border-radius: 1rem;
  border: 2 px solid #2f3336;
}

.content .body .media img {
  border-radius: 1rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content .body .media.gif {
  position: relative;
}

.content .body .media.gif span.tag {
  padding: 0.4rem;
  border-radius: 10px;
  background: #2f3336;
  position: absolute;
  bottom: 0.8rem;
  left: 0.8rem;
  font-size: 13px;
  font-weight: 700;
}

.content .body .media.images-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3px;
}

.content .body .media.images-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 3px;
}

.content .body .media.images-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
}

.content .body .media.images-3 .image-1 {
  grid-row: span 2;
}

.content .body .media.images-3 .image-1,
.content .body .media.images-2 .image-1 {
  border-radius: 1rem 0 0 1rem;
}

.content .body .media.images-2 .image-2 {
  border-radius: 0 1rem 1rem 0;
}

.content .body .media.images-4 .image-1 {
  border-radius: 1rem 0 0 0;
}

.content .body .media.images-3 .image-2,
.content .body .media.images-4 .image-2 {
  border-radius: 0 1rem 0 0;
}

.content .body .media.images-4 .image-3 {
  border-radius: 0 0 0 1rem;
}

.content .body .media.images-3 .image-3,
.content .body .media.images-4 .image-4 {
  border-radius: 0 0 1rem 0;
}

.trends .top {
  position: fixed;
  height: 3.5rem;
  padding: 0 1rem 0;
  display: flex;
  align-items: center;
  width: 350px;
  background: #000;
}

.trends .trends-content {
  margin-top: 5rem;
  padding: 0 1rem;
}

.card {
  margin: 1rem 0;
  background: #16181c;
  border-radius: 1rem;
}

.card .card-body {
  display: flex;
  flex-direction: column;
}

.card .card-body .card-title {
  padding: 0.6rem 1rem;
  font-size: 20px;
  font-weight: 700;
  height: 3rem;
}

.card .card-body .card-tweet {
  padding: 0.6rem 1rem;
  gap: 2px;
  display: flex;
}

.card .card-body .more:hover,
.card .card-body .card-tweet:hover {
  background: rgb(255, 255, 255, 0.03);
  cursor: pointer;
}

.card .card-body .card-tweet .tweet-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card .card-body .card-tweet .tweet-body .tweet-title {
  font-size: 12px;
  color: #71767b;
  font-weight: 500;
}

.card .card-body .card-tweet .tweet-body .tweet-description {
  font-size: 15px;
  font-weight: 700;
}

.card .card-body .card-tweet figure {
  min-width: 72px;
  width: 72px;
  height: 72px;
}

.card .card-body .card-tweet figure > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.card .card-body .more {
  color: var(--color-primary);
  height: 3rem;
  display: flex;
  align-items: center;
}

.card .card-body .more > a {
  padding: 0.6rem 1rem;
  text-decoration: none;
  width: 100%;
  background: transparent;
  font-size: 15px;
}

.card .card-body .card-user {
  padding: 0.6rem 1rem;
  gap: 4px;
  display: flex;
  align-items: center;
}

.card .card-body .card-user .user-info {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  gap: 2px;
  flex-grow: 1;
}

.card .card-body .card-user figure.box-image {
  width: 3.2rem;
  height: 3.2rem;
  min-width: 3.2rem;
  min-height: 3.2rem;
}

.card .card-body .card-user figure.box-image > img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card .card-body .card-user .user-info span.name {
  font-weight: 700;
}

.card .card-body .card-user .user-info span.username {
  font-weight: 300;
  color: #71767b;
}

.card .card-body .card-user .btn {
  max-width: 75px;
}

.privacy {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 1rem;
}

.privacy a,
.privacy span {
  font-size: 13px;
  color: #71767b;
  padding: 2px 10px 2px 0;
}

.privacy a.more-options {
  display: flex;
  gap: 5px;
}

.privacy a:hover {
  text-decoration-thickness: 1px;
  text-decoration-line: underline;
  cursor: pointer;
}
