<header>
  <span>Inicio</span>
  <fa-icon [icon]="['fas', 'star']" size="1x"></fa-icon>
</header>

<section>
  <figure class="box-image">
    <img
      src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="img-user">
  </figure>
  <div class="content">
    <textarea (input)="auto_height(txtTwit)" #txtTwit rows="1" placeholder="¿Qué está pasando?"></textarea>
    <div class="drop-container">
      <a class="drop">
        <fa-icon [icon]="['fas', 'earth']" size="1x"></fa-icon>
        Cualquier persona puede responder
      </a>
    </div>
    <div class="divisor">
      <div class="line"></div>
    </div>
    <div class="options">
      <div class="icons">
        <fa-icon [icon]="['fas', 'image']" size="1x"></fa-icon>
        <fa-icon [icon]="['fas', 'video']" size="1x"></fa-icon>
        <fa-icon [icon]="['fas', 'chart-column']" size="1x"></fa-icon>
        <fa-icon [icon]="['fas', 'face-smile']" size="1x"></fa-icon>
        <fa-icon [icon]="['fas', 'calendar']" size="1x"></fa-icon>
        <fa-icon class="disabled" [icon]="['fas', 'location-dot']" size="1x"></fa-icon>
      </div>
      <button class="btn btn-primary">Twittear</button>
    </div>
  </div>
</section>

<section class="publication">
  <figure class="box-image">
    <img
      src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="img-user">
  </figure>
  <div class="content">
    <div class="header">
      <span class="name">nombre de ejemplo</span>
      <fa-icon [icon]="['fas', 'star']"></fa-icon>
      <span class="username">@usernameEjemplo231</span>
      <span class="dot">·</span>
      <span class="time">2h</span>
      <div class="icon">
        <fa-icon [icon]="['fas', 'ellipsis']"></fa-icon>
      </div>
    </div>
    <div class="body">
      Ser nosotros mismos es una de las cosas
      más bonitas del amor, 💙 poder vivirlo sin
      secretos y aceptarnos libremente. Sabemos
      que hay historias que hacen sentir #Orgullo
      y nos inspiran.
    </div>
    <div class="footer">
      <span class="statistics primary">
        <div class="icon">
          <fa-icon [icon]="['fas', 'comment-alt']"></fa-icon>
        </div>5
      </span>
      <span class="statistics success">
        <div class="icon">
          <fa-icon [icon]="['fas', 'retweet']"></fa-icon>
        </div>4
      </span>
      <span class="statistics danger">
        <div class="icon">
          <fa-icon [icon]="['fas', 'heart']"></fa-icon>
        </div> 6
      </span>
      <span class="statistics primary">
        <div class="icon">
          <fa-icon [icon]="['fas', 'arrow-up-from-bracket']"></fa-icon>
        </div>3
      </span>

    </div>
  </div>
</section>